/* start variables */
:root {
    --main-color: #19c9fa;
    --trans-color: rgb(15 116 143 / 60%)
}

/* end variables */
/* start global rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }

}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* end global rules */
/* start componants */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    background-color: black;
    width: 120px;
    height: 2px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -38px;
    transform: translateX(-50%);
    background-color: white;
    width: 14px;
    height: 14px;
    border: 2px solid black;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    line-height: 2;
    max-width: 100%;
    color: #777;
}

/* end componants */
/* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::after {
    content: "";
    background-color: #a2a2a2;
    height: 1px;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0;
    left: 15px;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width: 768px) {
    header .container nav .toggle-menu {
        display: none;
    }

}

.logo {
    height: 40px;
}

header .container nav ul {
    display: flex;
}

@media (max-width: 768px) {
    header .container nav ul {
        display: none;
    }

    header .container nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
    }

    header .container nav ul li a {
        padding: 15px;
    }
}

header .container nav ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}

header .container nav ul a.active,
header .container nav ul a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .container nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

header .container nav .form i {
    position: absolute;
    color: white;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 20px;
}

header .container nav .form:hover i {
    color: var(--main-color);
}

/* end header */
/* start landing */
.landing {
    min-height: 100vh;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--trans-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;

}

.landing .left,
.landing .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #ddd;
}

.left {
    left: 30px;
}

.right {
    right: 30px;
}

@media (max-width: 767px) {

    .landing .left,
    .landing .right {
        display: none;
    }
}

.landing .bullets {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;

}

.landing .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* end landing */